#wrapper{
 width:80%; 
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}
#header h1{
  text-align: center;
  color: rgba(16,16,16);
}

body {
  font-family: "Roboto Slab", serif;
  /* background: url(../images/landing_page_bg.jpg) no-repeat center center fixed; */
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
}
#chess-ques {
  width:95%;
  font-weight:bold;
  white-space:normal;
  position:relative;
  left:20px;
}
#chess-puzzle {
  /* width:95%; */
  /* position: relative; */
  /* left:18%; */
  display: flex;
  justify-content: center;
  object-fit: cover;
}

#about {
  width:95%;
  font-weight:bold;
  white-space:normal;
  position:relative;
  left:20px;
}
nav.article {
  display: block;
  white-space:normal;
  min-height: 100%;
}
nav.article ul {
  width:98%;
  list-style: none;
  font-size: 16px; 
  text-align: center;
  min-height: 100%;
  position: relative;
  right:2.8%;
}
nav.article ul li {
  display:block;
  width:100%;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.38);
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 70px;
  border: 4px groove #444444;
  border-radius: 4px;
  font-weight: bold;
  overflow:hidden;
  padding-bottom: 20px;
  transition: max-height 0.5s;
  position:relative;
  left:2.5%;
}
nav.article ul li:hover{
  width:100%;
  max-height: 700px;
  vertical-align: middle;
  border: 4px groove #444444;
  border-radius: 4px;
  font-weight: bold;
  overflow: auto;
}

nav.article ul li:hover::-webkit-scrollbar {
  width: 0px;
}
nav.article ul li:hover::-webkit-scrollbar * {
  background:transparent; /* manage scrollbar background color here */
}

nav.contact-navigation {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
nav.contact-navigation  ul {
  list-style: none;
  font-size: 14px; 
  text-align: center;
}
nav.contact-navigation  ul li {
  display: inline-block;
  background-color: linear-gradient(rgba(96,96,96,0.6),rgba(64,64,64,0.6));
}
nav.contact-navigation  ul li a {
  display: block;
  float: left;
  color: #ffeee6;
  text-decoration: none;
  font-weight: bold;
}

nav.navigation {
  display: block;
  margin-bottom: 10px;
  position: relative;
  left: 6px;
}
nav.navigation  ul {
  list-style: none;
  font-size: 14px; 
  text-align: center;
}
nav.navigation  ul li {
  display: inline-block;
  background-color: rgba(64,64,64,0.5);
}
nav.navigation  ul li a {
  display: block;
  float: left;
  padding: 3px 36px;
  color: #ffffff;
  font-size:22px;
  text-decoration: none;
  font-weight: bold;
}
nav.navigation  ul li a:hover {
  background: rgba(192,192,192,0.3);
  color: #111111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 36px;
  margin: 0;
  text-decoration: none;
}

/* page Content */

#profile-picture-wrapper {
  background: white;
}

#chess_puzzle {
  max-width: 65%;
}
#chess_puzzle_sol {
  position:relative;
  right:16%;
  max-width: 65%;
}
#DP {
  max-width: 100%
}
#content {
  display: block;
  clear: both;
}

#left-sidebar {
  width: 15%;
  float: left;
  margin: 0 15px;
  background-image: linear-gradient(rgba(128,128,128,0.4),rgba(64,64,64,0.6));
  text-align: center;
  color: black;
  box-shadow: 0 0 0px 0px #4d1a00 inset;
}
#right {
  width: 72%;
  background-image: linear-gradient(rgba(128,128,128,0.4),rgba(64,64,64,0.6));
  text-align: left;
  height: 620px;
  color: black;
  box-shadow: 0 0 0px 0px #993300 inset;
  overflow: auto;
  padding: 18px 36px;
  text-align: justify;
}
#right::-webkit-scrollbar {
  width: 0px;
}
#right::-webkit-scrollbar * {
  background:transparent; /* manage scrollbar background color here */
}
#blog-container {
  float: right;
  width: 100%;
  background-image: linear-gradient(rgba(128,128,128,0.4),rgba(64,64,64,0.6));
  text-align: left;
  max-height: 700px;
  color: black;
  box-shadow: 0 0 0px 0px #993300 inset;
  overflow: auto;
}
#blog-container::-webkit-scrollbar {
  width: 0px;
}
#blog-container::-webkit-scrollbar * {
  background:transparent; /* manage scrollbar background color here */
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-image: linear-gradient(rgba(128,128,128,0.4),rgba(64,64,64,0.6));
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
margin-left: 20px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer{
  display: block;
  text-align: center;
  color: rgba(16,16,16);
  position: fixed;
  bottom: 0;
  right: 10px;
}

/* clearfix */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}