#wrapper{
 width:1024px; 
 margin:0 auto;
}
#header h1{
  text-align: center;
  color: #f2f2f2;
}

body {
  font-family: "Roboto Slab", serif;
  background:
   url(../images/landing_page_bg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
}
#chess-puzzle {
  width:95%;
  position: relative;
  left:18px;
}

#about {
  width:95%;
  font-weight:bold;
  white-space:normal;
  position:relative;
  left:20px;
}
nav.navigation {
  display: block;
  margin-bottom: 10px;
  position: relative;
  left: 6px;
}
nav.navigation  ul {
  list-style: none;
  font-size: 14px; 
  text-align: center;
}
nav.navigation  ul li {
  display: inline-block;
  background-color: rgba(64,64,64,0.5);
}
nav.navigation  ul li a {
  display: block;
  float: left;
  padding: 3px 36px;
  color: #ffeee6;
  font-size:22px;
  text-decoration: none;
  font-weight: bold;
}
nav.navigation  ul li a:hover {
  background: rgba(192,192,192,0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 36px;
  margin: 0;
  text-decoration: none;
}

/* page Content */

#profile-picture-wrapper {
  max-width: 90%;
  max-height: 30%;
  position: relative;
  top: 18px;
  left: 5%;
}

#DP {
  max-width: 100%
}
#content {
  display: block;
  clear: both;
  margin-bottom: 20px;
  min-height: 355px;
}

#left-sidebar {
  width: 35%;
  float: left;
  margin: 0 15px;
  background-image: linear-gradient(rgba(77,26,0,0.5),rgba(230,77,0,0.5));
  min-height: 355px; 
  text-align: center;
  box-shadow: 0 0 8px 8px #4d1a00 inset;
}
#right {
  float: right;
  width: 62%;
  background-image: linear-gradient(rgba(153,51,0,0.5),rgba(255,119,51,0.5));
  text-align: left;
  min-height: 700px;
  color: white;
  box-shadow: 0 0 8px 8px #993300 inset;
}
footer{
  text-align: center;
  color: #f2f2f2;
  position:absolute;
  bottom:0;
  left:45%;
}
/* clearfix */
.clearfix:after {
  content: “.”;
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}